<%- include("partials/header")-%>
<h1 class="text-center"><%= genreName %>S</h1><br><br>




<% posts.forEach((post)=>{ %>
    
    <%if (post.genreName.toString() === requestedGenre.toString()) {%>
        <center>
        <div class="col-sm-8">
            <div class="card card-blog text-center">
                <div class="card-body">
                  <h1 class="card-title"><%= post.title%></h1><br>
                  <p class="card-text"><%= (post.content).substring(0,200)+"..."%></p><br>
                  <a href="/posts/<%= post.slug %>" class="btn btn-sm btn-outline-info">Read More</a>
                  
                </div>
              </div>
          </div><br>
        </center>
        
    <%}%>
        <%});%>
<%- include("partials/footer") -%>